@define-color bg0 #1e1e2e;
@define-color bg1 #313244;
@define-color bg2 #45475a;
@define-color bg3 #585b70;

@define-color fg  #cdd6f4;

@define-color red     #f38ba8;
@define-color green   #a6e3a1;
@define-color yellow  #f9e2af;
@define-color blue    #89b4fa;
@define-color purple  #cba6f7;
@define-color cyan    #94e2d5;
